<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	
	    <section class="layout-content" layout:fragment="corpo">
	
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Cadastrar Usuário</span>
	                    </li>
	                </ul>
	                <a class="btn btn-primary btn-md" th:href="@{/usuarios/listar}" role="button">
	                    <span class="oi oi-spreadsheet" title="Listar" aria-hidden="true"></span>
	                    <span>Listar Usuarios</span>
	                </a>
	            </div>
	        </nav>
	
	        <div class="container" id="cadastro">
	        
	         	<div th:replace="fragments/alert"></div> 
	        	
				   
				
				<!-- <form  th:action="${usuario.id == null} ?  @{/usuarios/salvar} : @{/usuarios/editar}" th:object="${usuario}" method="POST">-->
				
				<form  th:action="@{/usuarios/salvar}" th:object="${usuario}" method="POST">
				<div class="form-row">
				        <div class="form-group col-md-6">
				            <label for="nome">Nome</label>
				            <input type="text" class="form-control" id="nome"
				                   placeholder="Nome Usuario" autofocus="autofocus" th:field="*{nome}"
				                    th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'"/>
				            <div class="invalid-feedback">
								<span th:errors="*{nome}"></span>
	                        </div>
				        </div>
				    </div>
				    
				    
				   <!--  <div class="md-3">
								<label for="email">Email</label>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text" 
												id="validationTooltipUsernamePrepend">@</span>
									</div>
									<input type="email" class="form-control" id="email"
										    th:field="*{email}" placeholder="Email"
										    aria-describedby="validationTooltipUsernamePrepend" required />
									<div class="invalid-feedback">Email é requerido.</div>
								</div>
							</div> -->
						
							
							
					  	
	                   <div class="form-group col-md-6">
	                        <label for="email">Email</label>
	                        <div class="input-group-prepend">
								 <span class="input-group-text" 
										id="validationTooltipUsernamePrepend">@</span>
					   </div>
	                        <input type="email" class="form-control" id="email" th:field="*{email}"
	                               th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'"
	                               aria-describedby="validationTooltipUsernamePrepend" />
	                        <div class="invalid-feedback">
								<span th:errors="*{email}" ></span>
	                        </div>
	                    </div>
							
						<div class="form-row">
	                    <div class="form-group col-md-6">
	                        <label for="senha">Senha</label>
	                        <input type="password" class="form-control" id="senha" th:field="*{senha}"
	                               th:classappend="${#fields.hasErrors('senha')} ? 'is-invalid'"/>
	                        <div class="invalid-feedback">
			        			<span th:errors="*{senha}"></span>
			   				</div>
	                    </div>
	                    </div>
							
				    <input type="hidden" id="id" th:field="*{id}"/>
				    <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
				</form>
	        </div>
	    </section>
</body>
</html>
