<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	    <section class="layout-content" layout:fragment="corpo">
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Compra de Passagens</span>   
	                    </li>
	                </ul>
	                <a class="btn btn-primary btn-md" href="#" role="button">
	                    <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
	                    <span>Detalhes</span>
	                </a>
	            </div>
	        </nav>
	
	        <div class="container">
	        
	        <div th:replace="fragments/alert"></div> 
		
		    <div class="container">
		       <div class="card card-register mx-auto mt-5">
		       <div class="card-header"><i class="fa-fighter-jet"></i> Comprar Passagem : Cartao</div> 
		       
		  <div class="card-body">					

            
	   <form class="form-signin was-validated" method="post" th:object="${cartao}" th:action="@{/cartao/salvarCartao}">
		   <div class="text-center mb-4">
	       </div>
              
        <div class="col-md-6 mb-3">
	       <label for="numero">Número do cartão de crédito</label>
	         <input type="text" id="numero" class="form-control" 
	                name="numero" autofocus="autofocus"  required > 
	                 
	     </div>
	     <div class="invalid-feedback"></div>
	     
	           
         
         <div class="col-md-6 mb-3">
          <label for="nome">Nome</label>
	         <input type="text" id="nome" class="form-control" 
	                name="nome" autofocus="autofocus"  required > 
	             
	     </div>
	     <div class="invalid-feedback"></div>
	     
	          
	      
	    <!--  <div class="row">
	     <div class="col-md-3 mb-3">
	     <label for="datavalidade">Data de expiração</label>
	         <input type="text" id="datavalidade" class="form-control" 
	                name="datavalidade" autofocus="autofocus"  required >
	          <small class="text-muted">Data de expiração é obrigatória.</small>        
	     </div>
	     <div class="invalid-feedback"></div>-->
	     
	      <div class="form-row">
	           <div class="form-group col-md-2">
	                <label for="dataValidade">Data de expiração</label>
	                <input type="text" class="form-control" id="dataValidade"/>
	               
	           </div>
	    
	      
	     
	     <div class="form-group col-md-2">
	     <label for="cvv">CVV</label>
	         <input type="text" id="cvv" class="form-control" 
	                name="cvv" autofocus="autofocus"  required >
	                
	     </div>
	     <div class="invalid-feedback"></div>
	     </div>
	     
	     
	      <button type="submit" class="btn btn-primary btn-sm">Finalizar</button>
	     
	  
	     </form>
	        </div>							
			</div>              
                </div>                
                	<!-- <input type="hidden" id="id" th:field="*{id}"/> -->
				</div>                     
                
                
                
         <div th:replace="fragments/modal :: modal"></div>
          <div class="table-responsive">
	            
	      
	         
	      </div>
	      </section>
</body>
</html>
        