<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Detalhes Compra</title>

</head>

<body>

	 <section class="layout-content" layout:fragment="corpo">
		   <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Histórico de Compras</span>
	                    </li>
	                </ul>
	               
	            </div>
	        </nav>	 
					<div th:replace="fragments/alert"></div> 					
					<br>
					<div sec:authorize="hasAuthority('USER')"></div>
					
						<div class="table-responsive">
							<table class="table table-striped table-hover table-sm">
								<thead>
									<tr>

                                        <th>Data da Compra</th>
										<th>Quantidade</th>
										<th>Tipo de Pagamento</th>
										<th>Valor</th>
										<!--<th>Status</th> -->
										
									</tr>
								</thead>
								<tbody> 
								        <tr th:each="compra : ${compras}">
								        <td th:text="${compra.dataCompra}"></td> 
								        <td th:text="${compra.quantidade}"></td>
										<td th:text="${compra.tipoPagamento}"></td>
										<td th:text="${compra.valor}"></td>
										<!-- <td th:text="${compra.status}"></td> -->
										<td>
											
										</td>
									</tr>
								</tbody>
							</table>
						</div>				
						
			<br>
			
	</section>

</body>
</html>