<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>

	    <section class="layout-content" layout:fragment="corpo">
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Compra de Passagens</span>
	                    </li>
	                </ul>
	                <a class="btn btn-primary btn-md" href="/compras/comprar" role="button">
	                    <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
	                    <span>Detalhes</span>
	                </a>
	            </div>
	        </nav>
	
	        <div class="container">


                
        <div th:replace="fragments/alert"></div> 
		
		    <div class="container">
		       <div class="card card-register mx-auto mt-4">
		       <div class="card-header"><i class="fa-fighter-jet"></i> Comprar Passagem </div> 
		       
		           <div class="card-body">					
          
          <!-- th:object="${compra}" -->            
	      <form  th:action="@{/compras/salvar}"  th:object="${compra}" method="POST">
		   
		 <div class="text-center mb-4">
	     </div>	
	                  
	     	           
	     <div id="formas-pagamento-panel" class="panel-group" role="tablist" 
          aria-multiselectable="true">
         <span ng-repeat="formaPgto in carrinho.pModel.listaFormasPgto" class="ng-scope">
         <div class="panel panel-default ng-scope" ng-if="formaPgto.tipo.id==1 || formaPgto.tipo.id==5 || formaPgto.tipo.id==7">
         <div class="panel-heading" ng-click="selecionarForma(formaPgto)">
         <a href="" role="button" data-toggle="collapse" data-parent="#formas-pagamento-panel"
          data-target="#forma-pagamento-panel0">
         <h4 class="panel-title ng-binding"><span ng-switch="formaPgto.integracao">
	    <div class="col-md-8">
				
						 
						 
          
						 
	          <button type="submit" class="btn btn-primary btn-sm">Comprar</button>
	      </form>
	      </div> 
		
				
				<!-- <input type="hidden" id="id" th:field="*{id}"/> -->
				
	     </div>
          
                
           </div>
              </div>
              
              
   
   
          <div th:replace="fragments/modal :: modal"></div>
          <div class="table-responsive">
	            
	            
	            
	            
	            
	            
	      
	         
	      </div>
	      </section>
</body>
</html>
        