<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>

	    <section class="layout-content" layout:fragment="corpo">
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Compra de Passagens</span>
	                    </li>
	                </ul>
	                <a class="btn btn-primary btn-md" href="/compras/comprar" role="button">
	                    <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
	                    <span>Detalhes</span>
	                </a>
	            </div>
	        </nav>
	
	        <div class="container">


                
        <div th:replace="fragments/alert"></div> 
		
		    <div class="container">
		       <div class="card card-register mx-auto mt-4">
		       <div class="card-header"><i class="fa-fighter-jet"></i> Comprar Passagem </div> 
		       
		           <div class="card-body">					
          
          <!-- th:object="${compra}" -->            
	      <!--  <form  th:action="@{/compras/salvarExemplo}"  th:object="${compra}" method="POST"> <form  th:action="@{/compras/salvarExemplo}"  th:object="${compra}" method="POST">-->
	       <form  th:action="@{/compras/salvar}"  th:object="${compra}" method="POST">
		   
		 <div class="text-center mb-4">
	     </div>	
	                  
	     
		
		 <div class="col-md-8">
				 <small class="form-text text-muted">Escolha Forma de Pagamento</small>
					<select id="tipoPagamento"  th:field="*{tipoPagamento}" name="tipoPagamento" class="form-control">				  
						<option value="BOLETO">Boleto</option>
						<option value="CARTAO">Cartao</option>
						
					</select>
		</div><br>
				
				
						 
	          <button type="submit" class="btn btn-primary btn-sm">Comprar</button>
	      </form>
	      </div> 
		
				
				<!-- <input type="hidden" id="id" th:field="*{id}"/> -->
				
	     </div>
          
                
           </div>
              </div>
              
   
   
          <div th:replace="fragments/modal :: modal"></div>
          <div class="table-responsive">
	            
	      
	         
	      </div>
	      </section>
</body>
</html>
        