<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>


       <section class="layout-content" layout:fragment="corpo">
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Tipo de Pagamento</span>
	                    </li>
	                </ul>
	                <a class="btn btn-primary btn-md" href="#" role="button">
	                    <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
	                    <span>Detalhes</span>
	                </a>
	            </div>
	        </nav>
	
	        <div class="container">


                
          <div th:replace="fragments/alert"></div> 
		
		    <!-- <div class="container">
		       <div class="card card-register mx-auto mt-5">
		       <div class="card-header"><i class="fa-fighter-jet"></i> Escolha a Forma Pagamento </div> --> 
		       <!-- <span class="fa-fighter-jet"></span> -->
		          <!--  <div class="card-body">	 -->				

              <!-- <form class="form-signin was-validated" method="post" th:object="${compra}" th:action="@{/compras/realizarCompra}">  -->
              <form class="form-signin was-validated" method="post" th:object="${compra}" th:action="@{/compras/salvarFormaPagamento}">
                  <p>Escolha forma de pagamento</p>
                 
                 <!-- th:field="*{tipoPagamento}"  name="tipoPagamento" -->
                 <!-- onClick="location.href='http://localhost:8080/compras/cartao'" -->
                 <div> 
                 <div class="form-group">
	               <div class="d-block my-3"> 
                      <input type='radio' name='customRadio1' value='tipoPagamento1'> 
                      <label for="customRadio1" class="custom-control-label">Cartão</label>
                 </div> 
                 </div>
                        
                 <div class="form-group"> 
                      <input type='radio' name='customRadio' value='tipoPagamento'> 
                      <label for="customRadio2" class="custom-control-label">Boleto</label>
                 </div> 
                 </div>  
                 <!-- onClick="location.href='http://localhost:8080/compras/boleto'" -->
                 <!-- value='oquefor' -->
                
                    
                 <!-- <div class="col-md-8">
				 <small class="form-text text-muted">Escolha forma de Pagamento</small>
					<select id="tipoPagamento" name="tipoPagamento" class="form-control" th:field="*{tipoPagamento}">				  
						<option value="avista">Avista</option>
						<option value="cartao">Cartão</option>
						
					</select>
		         </div> 
		         
		         
                 <button type="submit" class="btn btn-primary btn-sm">Finalizar</button>
                        
              <!--   <div class="input-group input-group-lg mb-3">
                  <div class="input-group-prepend">
                     <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                       Escolha Forma de Pagamento
                     </button>
                    <ul class="dropdown-menu">
                      <li class="dropdown-item"><a href="#">Cartão</a></li>
                      <li class="dropdown-item"><a href="#">Boleto</a></li>
                      
                    </ul>
                 </div>
                  -->
                 
                
                        <!-- 
                        <div class="custom-control custom-radio">
                         <div class="custom-control custom-radio">
                          <input class="custom-control-input" type="radio" id="customRadio1" name="customRadio">
                          <label for="customRadio1" class="custom-control-label">Cartão</label>
                          </div>
                        </div>
                        <div class="custom-control custom-radio">
                          <input class="custom-control-input" type="radio" id="customRadio2" name="customRadio" checked>
                          <label for="customRadio2" class="custom-control-label">Custom Radio checked</label>
                        </div>
                        <div class="custom-control custom-radio">
                          <input class="custom-control-input" type="radio" id="customRadio3" disabled>
                          <label for="customRadio3" class="custom-control-label">Custom Radio disabled</label>
                        </div> -->
                  
	        
	           
	        
	        <!-- </div> -->
	         </form>  
		</div>
          
          
                
                   
                
                
                
   
   
   
          <div th:replace="fragments/modal :: modal"></div>
          <div class="table-responsive">
	            
	      
	         
	      </div>
	      </section>
</body>
</html>
        








      
                            