<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
         <!-- A MESMA FUNCIONALIDADE DE PAGAMENTO-->
         
         
	    <section class="layout-content" layout:fragment="corpo">
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Compra de Passagens</span>
	                    </li>
	                </ul>
	                <a class="btn btn-primary btn-md" href="#" role="button">
	                    <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
	                    <span>Detalhes</span>
	                </a>
	            </div>
	        </nav>
	
	        <div class="container">


                
          <div th:replace="fragments/alert"></div> 
		
		    <div class="container">
		       <div class="card card-register mx-auto mt-5">
		       <div class="card-header"><i class="fa-fighter-jet"></i> Comprar Passagem </div> 
		       <!-- <span class="fa-fighter-jet"></span> -->
		           <div class="card-body">					

            
	       <form class="form-signin was-validated" method="post" th:action="@{#}">
		   <div class="text-center mb-4">
	       </div>	
							
				        
	     
	        
	           
	        </form>
	        </div>
		
				
				<!-- <input type="hidden" id="id" th:field="*{id}"/> -->
				
			</div>
          
                
                </div>
              </div>
            
           
                                        
                
                
                
                
                
   
   
   
          <div th:replace="fragments/modal :: modal"></div>
          <div class="table-responsive">
	            
	      
	         
	      </div>
	      </section>
</body>
</html>
        