<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	
	    <section class="layout-content" layout:fragment="corpo">
	
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Dados do Usuário</span>
	                    </li>
	                </ul>
	               
	            </div>
	        </nav>
	
	       
	        
	         	<div th:replace="fragments/alert"></div> 
	        	
	        <tbody>
			<tr th:each="user : ${usuario}">
				<td><span th:text="${user.nome}"></span></td>
				<td><span th:text="${user.email}"></span></td>
                
                
  			</tr>
		</tbody>
                     
	    </section>
</body>
</html>	


