<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Recuperar Senha</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="Compras de passagens online" />
<link rel="icon" th:href="@{/image/favicon.ico}" />
<!-- Icons fontawesome -->
<link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" crossorigin="anonymous" rel="stylesheet" />
<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>

<!-- Custom styles for this template -->
<link th:href="@{/css/style-login.css(v=${version})}" rel="stylesheet" />
</head>
<body>
    <div th:replace="fragments/alert"></div> 
	<form th:action="@{/user/trocarSenha}"class="form-signin was-validated" method="post"
	      action="/"> 
		<div class="text-center mb-4">	
		     
		<div class="text-center mb-4">
			<img class="mb-4" th:src="@{/image/aviao.png}" alt=""
				width="72" height="72">	
				<h1 class="h3 mb-3 font-weight-normal">Recuperar Senha</h1>		
		</div>
				 						
		<div class="form-group col-md-20">
			<label for="email">Informe seu E-Mail</label> <input type="email"
					class="form-control" id="email" name="email" placeholder="E-Mail"
					autofocus="autofocus" required />
			<div class="invalid-feedback"></div>
		</div>
				
		<button type="submit" class="btn btn-primary btn-sm">Enviar</button>
	
		</div>
		<p class="mt-5 mb-3 text-muted text-center">Sistema de Pagamento&copy; 2020</p>
	</form>
</body>
</html>


