<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>

       
         <section class="layout-content" layout:fragment="corpo">
	
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Dados do Usuario</span>
	                    </li>
	                </ul>
	            </div>
	        </nav>
	
	        <div class="container" id="listagem">
	
				<div th:replace="fragments/alert"></div>
	
	            <div class="table-responsive">
					<table class="table table-striped table-hover table-sm">
					    <thead>
					    <tr>
					        <th>Nome</th>
					        <th>Email</th>
					        <th>Ação</th>
					    </tr>
					    </thead>
					    <tbody>
					     <tr th:each="user : ${usuario}">
					         <!-- <td th:text="${user.id}"></td> -->
					         <td th:text="${user.nome}"></td>
					         <td th:text="${user.email}"></td>
					         <td colspan="2">
					              <a class="btn btn-info btn-sm" th:href="@{/usuario/editar/{id} (id=${user.id}) }" role="button">
					                 <span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
					             </a> 
					             					             
					         </td>
					     </tr>
					    </tbody>
					</table>
	            </div>
	        </div>
	        
			<div th:replace="fragments/modal :: modal"></div>
			
	    </section>

</body>
</html>		