<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"></head>
<body>
			<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
				<ul class="nav nav-pills">
					<li class="nav-item"><a class="nav-link " href="/home"> <i
							class="oi oi-home"></i> <span>Home</span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" >Passagem</span></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/compras/comprar}"> <i class="oi oi-plus"></i> <span>Comprar</span>
					</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/compras/detalhes}"> <i class="oi oi-spreadsheet"></i>
							<span>Detalhes </span>  
					</a></li>
				</ul> 
				
			
				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active">Usuario</span></li>
					<li class="nav-item"><a class="nav-link" 
						th:href="@{/user/detalhes}"> <i class="oi oi-plus"></i> <span>Dados Pessoais </span>
				 </a></li>
				</ul>
			</nav>
</body>
</html>